h1 {
    font-family: var(--font-display);
    font-size:  clamp(1rem, var(--text-xxl), 4rem);
    font-weight: 700;  
}

h2 {
    font-family: var(--font-display);
    font-size: var(--text-xl);
    font-weight: 700; 
}

h3 {
    font-family: var(--font-display);
    font-size: var(--text-lg);
    font-weight: 600; 
}

p {
    font-family: var(--font-display);
    font-size: var(--text-sm);
    font-weight: 400; 
}

span {
    font-family: var(--font-display);
    font-size: var(--text-md);
    font-weight: 400; 
}

label {
    font-family: var(--font-display);
    font-size: var(--text-base);
    font-weight: 600; 
}
